<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>web</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Navbar-Right-Links-icons.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <!--Navbar Navbar-->
    <nav class="navbar navbar-expand-md ">
            <a class="navbar-brand d-flex align-items-center" href="/#">
            <span></span>
            </a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">    
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <span class="collapse navbar-collapse" id="navcol-2">
                <ol class="navbar-nav ms-auto navbar">
                    <li class="nav-item"><a class="nav-link link-home" href="/#">Home</a></li>
                    <li class="nav-item"><a class="nav-link link-articles" href="#">Meine Artikel</a></li>
                    <li class="nav-item"><a class="nav-link link-loans" href="#">Meine Leihvorgänge</a></li>
                    <li class="nav-item"><a class="nav-link link-account" href="/users">Account</a></li>
                </ol>
            </span>
    </nav>

</body>
</html>